<h1>
  Player 1 Name: <%= @player_1_name %>! &nbsp; &nbsp;
  Player 2 Name: <%= @player_2_name %>! <br>
  <%= @player_1_name %>'s HP = <%= @player_1_health %> &nbsp; &nbsp; &nbsp; &nbsp;
  <%= @player_2_name %>'s HP = <%= @player_2_health %> <br>
  Let's battle!!! <br>
  <!-- <a href="/attack">Attack</a> -->
  <form action="/attack">
  <input type="submit" value="Attack">
</form>
</h1>
